.navbar {
  display: flex;
  justify-content: space-between;
  background: #222;
  color: #fff;
  padding: 1rem;
}
.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.navbar a {
  color: white;
  text-decoration: none;
}
